* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #ebebeb;
}
main {
  max-width: 600px;
  margin: 0 auto;
  border: dotted 2px gray;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  padding: 30px;
  user-select: none;
  /* position: relative; */
}
.soal,
.lembar-soal ul,
.lembar-soal hr {
  margin: 10px 0px;
}
header h3,
.lembar-soal .nomor-soal {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.lembar-soal ul {
  display: table;
}
.lembar-soal ul li {
  display: table-row;
}
.lembar-soal ul li input,
.lembar-soal ul li label {
  display: table-cell;
  padding: 2px 5px;
}
#batalRadio {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: orange;
  font-weight: bold;
  display: none;
}
/* Tombol selanjutnya atau sebelumnya */
.tombol {
  /* background-color: red; */
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tombol button {
  font-size: 30px;
  border: none;
  background-color: #1f1f1f1f;
  height: 40px;
  width: 40px;
}
.tombol-sebelumnya {
  border-radius: 0 50% 50% 0;
  box-shadow: inset 2px 0px 15px -10px #000, 2px 2px 10px -3px white;
  margin-left: -30px;
}
.tombol-selanjutnya {
  border-radius: 50% 0 0 50%;
  box-shadow: inset -2px 0px 15px -10px #000, -2px -2px 10px -3px white;
  margin-right: -30px;
}
/* Area Tombol atau seluruh no Soal */
.seluruh-nomor-soal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  margin-top: -60px;
}
.seluruh-nomor-soal span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: dotted 1px gray;
  margin: 3px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}
.seluruh-nomor-soal .aktif {
  border: double 2px black;
}
.seluruh-nomor-soal .terpilih {
  background-color: lightskyblue;
}
.seluruh-nomor-soal .salah {
  background-color: crimson;
  color: white;
}
.seluruh-nomor-soal .benar {
  background-color: lightgreen;
}

/* Area Jawaban benar dan hasil */
.jawaban-benar,
.hasil {
  display: none;
}
.hasil {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 30px auto 0;
  padding: 10px;
  border: dotted 2px grey;
  width: fit-content;
}

.tombol-selesai {
  margin: 20px auto 0;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #f04431;
  color: white;
}
.tombol-selesai:active {
  background-color: aqua;
  color: black;
}

/* Tombol Tombol Untuk Modal User dan Pengaturan */
.tombol-modal-user-pengaturan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tombol-modal-user-pengaturan div {
  background-color: #1f1f1f1f;
  height: 50px;
  width: 50px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.tombol-modal-user-pengaturan div.tombol-user {
  background-image: url("img/user.png");
  border-radius: 0 50% 50% 0;
  box-shadow: inset 2px 0px 15px -10px #000, 2px 2px 10px -3px white;
  margin-left: -30px;
}
.tombol-modal-user-pengaturan div.tombol-pengaturan {
  background-image: url("img/settings.png");
  border-radius: 50% 0 0 50%;
  box-shadow: inset -2px 0px 15px -10px #000, -2px -2px 10px -3px white;
  margin-right: -30px;
}

/* Modal Secara Umum*/
.modal {
  background-color: rgba(0, 0, 0, 0.542);
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal .content-modal {
  background-color: #ebebeb;
  margin: 0 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 25px -20px #000, inset 1px 1px 5px -2px #000;
}
.tutup-modal {
  font-size: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Modal Pengaturan */

.tombol-dipengaturan {
  margin-top: 20px;
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.tombol-dipengaturan button {
  padding: 3px 10px;
  border-radius: 3px;
  color: #ebebeb;
  display: none;
}
.tombol-simpan {
  background-color: red;
}

.tombol-batal {
  background-color: #1f1f1f;
}

.accordion {
  width: 300px;
}
.accordion-item {
  border-bottom: solid 1px grey;
  padding: 10px;
  overflow: hidden;
  transition: 0.5s ease-out;
}

.accordion-header {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 20px;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}

.accordion-header img {
  width: 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: 0.5s;
  font-weight: bold;
}

.accordion-body {
  padding: 5px 5px 5px 20px;
  display: none;
  animation: pudar 1s forwards;
}

@keyframes pudar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion-body li.data-accordion {
  margin: 5px;
  padding: 5px;
  /* background-color: #f04431; */
  border-radius: 5px;
  cursor: pointer;
}

.accordion-body .data-accordion-terpilih {
  color: darkgreen;
  font-weight: bold;
  position: relative;
}

.accordion-body .data-accordion-terpilih::before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  left: -20px;
  top: 8px;
  display: inline-block;
  background-image: url(svg/check.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion-item.accordion-aktif .accordion-body {
  display: block;
}
.accordion-item.accordion-aktif .accordion-header {
  color: darkblue;
  border: dotted 1px grey;
  border-radius: 10px;
  font-weight: bolder;
}
.accordion-item.accordion-aktif .accordion-header img {
  transform: rotate(180deg);
}

/* Modal User */
.modal img[alt="Rendi Alviana"] {
  width: 100px;
  border-radius: 50%;
  border: double 2px black;
}
.modal h2 {
  margin: 10px 0 0;
}
.modal p {
  margin: 0 0 30px;
  font-family: system-ui, sans-serif;
}
.sosial-media img {
  width: 30px;
  margin: 5px;
}
.sosial-media a {
  text-decoration: none;
}
