html {
  background-color: #ebebeb;
}
body {
  max-width: 600px;
  margin: 0 auto;
  border: dotted 2px gray;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  padding: 30px;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  /* position: relative; */
}
header h3,
.lembar-soal .nomor-soal {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  display: table;
}
ul li {
  display: table-row;
}
ul li input,
ul li label {
  display: table-cell;
  padding: 2px 5px;
}
#batalRadio {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: orange;
  font-weight: bold;
  display: none;
}
/* Tombol selanjutnya atau sebelumnya */
.tombol {
  /* background-color: red; */
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tombol button {
  font-size: 30px;
  border: none;
  background-color: #1f1f1f1f;
  height: 40px;
  width: 40px;
}
.tombol-sebelumnya {
  border-radius: 0 50% 50% 0;
  box-shadow: inset 2px 0px 15px -10px #000, 2px 2px 10px -3px white;
  margin-left: -30px;
}
.tombol-selanjutnya {
  border-radius: 50% 0 0 50%;
  box-shadow: inset -2px 0px 15px -10px #000, -2px -2px 10px -3px white;
  margin-right: -30px;
}
/* Area Tombol atau seluruh no Soal */
.seluruh-nomor-soal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  margin-top: -60px;
}
.seluruh-nomor-soal span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: dotted 1px gray;
  margin: 3px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}
.seluruh-nomor-soal .aktif {
  border: double 2px black;
}
.seluruh-nomor-soal .terpilih {
  background-color: lightskyblue;
}
.seluruh-nomor-soal .salah {
  background-color: crimson;
  color: white;
}
.seluruh-nomor-soal .benar {
  background-color: lightgreen;
}

/* Area Jawaban benar dan hasil */
.jawaban-benar,
.hasil {
  display: none;
}
.hasil {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 30px auto 0;
  padding: 10px;
  border: dotted 2px grey;
  width: fit-content;
}

.tombol-selesai {
  margin: 20px auto 0;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #f04431;
  color: white;
}
.tombol-selesai:active {
  background-color: aqua;
  color: black;
}

/* Tombol Tombol Untuk Modal User dan Pengaturan */
.tombol-modal-user-pengaturan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tombol-modal-user-pengaturan div {
  background-color: #1f1f1f1f;
  height: 50px;
  width: 50px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.tombol-modal-user-pengaturan div.tombol-user {
  background-image: url("img/user.png");
  border-radius: 0 50% 50% 0;
  box-shadow: inset 2px 0px 15px -10px #000, 2px 2px 10px -3px white;
  margin-left: -30px;
}
.tombol-modal-user-pengaturan div.tombol-pengaturan {
  background-image: url("img/settings.png");
  border-radius: 50% 0 0 50%;
  box-shadow: inset -2px 0px 15px -10px #000, -2px -2px 10px -3px white;
  margin-right: -30px;
}
/* .tombol-user {
  width: 30px;
  height: 30px;
  padding: 5px;
  box-shadow: inset -5px 5px 5px #fff, inset 1px -1px 6px #000;
  border-radius: 50%;
  transition: 0.1s;
  background-image: url("img/settings.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
.tombol-user:active {
  top: 7.5px;
  left: 7.5px;
  width: 35px;
  height: 35px;
  background-size: 30px;
  box-shadow: inset -3px 3px 5px #fff, inset 1px -1px 3px #000;
} */

/* Modal Secara Umum*/
.modal {
  background-color: rgba(0, 0, 0, 0.542);
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal .content-modal {
  background-color: #ebebeb;
  margin: 0 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 25px -20px #000, inset 1px 1px 5px -2px #000;
}
.tutup-modal {
  font-size: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Modal Pengaturan */
.tombol-dipengaturan {
  margin-top: 20px;
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.tombol-dipengaturan button {
  padding: 3px 10px;
  border-radius: 3px;
  color: #ebebeb;
}
.tombol-simpan {
  background-color: red;
}

.tombol-batal {
  background-color: #1f1f1f;
}
select {
  width: 90%;
}

/* Modal User */
.modal img[alt="Rendi Alviana"] {
  width: 100px;
  border-radius: 50%;
  border: double 2px black;
}
.modal h2 {
  margin: 10px 0 0;
}
.modal p {
  margin: 0 0 30px;
  font-family: system-ui, sans-serif;
}
.sosial-media img {
  width: 30px;
  margin: 5px;
}
.sosial-media a {
  text-decoration: none;
}
